
h1{
	float:left;
	padding-top:40px;
	font-family: 'Varela Round', sans-serif;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 100px;
}

.roses{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 200px;
}

.sky{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 200px;
}

.car{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
}

body{
	background-color:#e2d0d8;
}

a{
	display:block;
	padding-top:40px;
	color:#737373;
	font-family: 'Varela Round', sans-serif;
}

h3{
	text-align:center;
	font-family: 'Varela Round', sans-serif;
}

p{
	text-align:center;
	font-family: 'Architects Daughter', cursive;
}

#wrapper{
	 margin:0 auto;
}

#header{
	height:150px;
	padding-left:40px;
	background-color:#737373;
	color:#e2d0d8
}

#sidebar{
	width:12%;
	height:1000px;
	float:left;
	background-color:#7bc5e1;
	text-align:center;
}

#main{
	width:88%;
	height:85%;
	float:right;
	color:#737373;
}



